.bg-footer{
    background-color:#2C3E50;
    
  }
  .footer-font{
    font-size: 12px;
}


.main-color{
    background-color: #2C3E50 !important;
}
.secondary-color{
    background-color: #1A252F!important;
}