<div class="container d-flex flex-column align-items-center justify-content-center ">
    <h1 class="fw-bold text-secondary-emphasis text-center pt-5">CONTACT SECTION</h1>
    <div class="line position-relative">
        <div class="star">
        <i class="fa-solid fa-star "></i>
        </div>
    </div>
    <div class="w-50 my-5">
        <input type="text" class="form-control mb-4 border-0 border-bottom" placeholder="userName">
        <input type="text" class="form-control mb-4 border-0 border-bottom" placeholder="userAge">
        <input type="text" class="form-control mb-4 border-0 border-bottom" placeholder="userEmail">
        <input type="text" class="form-control mb-5 border-0 border-bottom" placeholder="userPassword">
        <button class="btn btn-outline-success btn-sm my-2">send Message</button>
    </div>

</div>
<footer class="bg-dark text-white text-center main-color">
    <div>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4">
                    <h5>LOCATION</h5>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="col-md-4">
                    <h5>AROUND THE WEB</h5>
                    <div class="icons d-flex justify-content-center ">
                        <div class="icon rounded-circle mx-2 px-2 py-1 border border-1 border-white">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="icon rounded-circle mx-2 px-2 py-1 border border-1 border-white">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="icon rounded-circle mx-2 px-2 py-1 border border-1 border-white">
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                        <div class="icon rounded-circle mx-2 px-2 py-1 border border-1 border-white">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <h5>ABOUT FREELANCER</h5>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>

    </div>
    </div>
    <div class="secondary-color pb-1 pt-2">
        <p class="footer-font">Copyright © Your Website 2024</p>
    </div> 
</footer>