
<nav class="navbar navbar-expand-lg pb-5">
    <div class="container-fluid">
        <h2> <a class="ms-5 text-white" href="#">START FRAMEWORK</a>
        </h2>
        <form class="d-flex" role="search">
            <a class="p-3" href="">ABOUT</a>
            <a class="p-3" href="">PORTFOLIO</a>
            <a class="p-3" href="">CONTACT</a>
        </form>
    </div>
</nav>
<section class="bg-color home text-center  text-white">

    <img class="img-fluid py-4 " src="assets/images/avataaars.svg" alt="">
    <h1 class="text-center">START FRAMEWORK
    </h1>
    <span class="star"><i class="fa-solid fa-star"></i></span>
    <p class="py-4">Graphic Artist - Web Designer - Illustrator
    </p>
</section>

<app-about></app-about>